html {
    font-size: 16px;
}
body {
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    padding-top: 1rem;
    background: white;
    width: 15rem;
    height: 25rem;
}
.playground{
    position: relative;
    height: 80%;
}
.deer {
    bottom: 3rem;
    position: absolute;
    width: 120px;
    left: 50%;
    transform: translateX(-50%);
}
.ui.inverted.segment {
    width: 100%;
    padding: 0;
    font-size: 0;
    display: flex;
    background: none;
}
.ui.inverted.progress {
    flex: 1;
    margin: 0;
    margin-right: 5px;
    background: #bbb;
    /* display: inline-block; */
}
.ui.inverted.progress .bar {
    flex: 1;
    height: 1rem;
    min-width: unset;
    width: 100%;
}
.progress {
    height: 1rem;
}
.shit{
    width: 3rem;
    position: absolute;
    bottom: 5.5rem;
    right: 4.5rem;
}

.buttons {
    position: absolute;
    width: 100%;
    bottom: 0.5rem;
    display: flex;
    justify-content: center;
}
.buttons .ui.basic.button {
    width: 5rem;
    padding: 10px;
    text-align: center;
}

.bob {
  width: 80px;
}